<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://103.1.239.243:5432/test12345</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.pool_size">10</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">123456</property>
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.connection.autoReconnect">true</property>
    <property name="hibernate.connection.autocommit">true</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.Charset">utf8</property>
    <mapping class="Server.model.DB.ActorEntity"/>
    <mapping resource="ActorEntity.hbm.xml"/>
    <mapping class="Server.model.DB.AlbumEntity"/>
    <mapping resource="AlbumEntity.hbm.xml"/>
    <mapping class="Server.model.DB.AlbumCategorymusicEntity"/>
    <mapping resource="AlbumCategorymusicEntity.hbm.xml"/>
    <mapping class="Server.model.DB.AlbumSingerEntity"/>
    <mapping resource="AlbumSingerEntity.hbm.xml"/>
    <mapping resource="AlbumSongEntity.hbm.xml"/>
    <mapping class="Server.model.DB.AlbumSongEntity"/>
    <mapping class="Server.model.DB.ApiaccountEntity"/>
    <mapping resource="ApiaccountEntity.hbm.xml"/>
    <mapping resource="AuthorEntity.hbm.xml"/>
    <mapping class="Server.model.DB.AuthorEntity"/>
    <mapping class="Server.model.DB.AuthorSongEntity"/>
    <mapping resource="AuthorSongEntity.hbm.xml"/>
    <mapping class="Server.model.DB.BannerEntity"/>
    <mapping resource="BannerEntity.hbm.xml"/>
    <mapping class="Server.model.DB.CategoryfilmEntity"/>
    <mapping resource="CategoryfilmEntity.hbm.xml"/>
    <mapping class="Server.model.DB.CategorysongEntity"/>
    <mapping resource="CategorysongEntity.hbm.xml"/>
    <mapping class="Server.model.DB.CommentEntity"/>
    <mapping resource="CommentEntity.hbm.xml"/>
    <mapping class="Server.model.DB.DirectorEntity"/>
    <mapping resource="DirectorEntity.hbm.xml"/>
    <mapping class="Server.model.DB.DirectorFilmEntity"/>
    <mapping resource="DirectorFilmEntity.hbm.xml"/>
    <mapping class="Server.model.DB.FilmEntity"/>
    <mapping resource="FilmEntity.hbm.xml"/>
    <mapping class="Server.model.DB.FilmActorEntity"/>
    <mapping resource="FilmActorEntity.hbm.xml"/>
    <mapping class="Server.model.DB.FilmCategoryfilmEntity"/>
    <mapping resource="FilmCategoryfilmEntity.hbm.xml"/>
    <mapping class="Server.model.DB.ImageEntity"/>
    <mapping resource="ImageEntity.hbm.xml"/>
    <mapping class="Server.model.DB.LogEntity"/>
    <mapping resource="LogEntity.hbm.xml"/>
    <mapping class="Server.model.DB.PlayListEntity"/>
    <mapping resource="PlayListEntity.hbm.xml"/>
    <mapping class="Server.model.DB.PlaylistCategoryEntity"/>
    <mapping resource="PlaylistCategoryEntity.hbm.xml"/>
    <mapping class="Server.model.DB.PlaylistSongEntity"/>
    <mapping resource="PlaylistSongEntity.hbm.xml"/>
    <mapping class="Server.model.DB.RatingEntity"/>
    <mapping resource="RatingEntity.hbm.xml"/>
    <mapping class="Server.model.DB.RoleEntity"/>
    <mapping resource="RoleEntity.hbm.xml"/>
    <mapping resource="SearchEntity.hbm.xml"/>
    <mapping class="Server.model.DB.SearchEntity"/>
    <mapping class="Server.model.DB.SeriCategoryfilmEntity"/>
    <mapping resource="SeriCategoryfilmEntity.hbm.xml"/>
    <mapping class="Server.model.DB.SerifilmEntity"/>
    <mapping resource="SerifilmEntity.hbm.xml"/>
    <mapping class="Server.model.DB.SerifilmFilmEntity"/>
    <mapping resource="SerifilmFilmEntity.hbm.xml"/>
    <mapping class="Server.model.DB.SingerEntity"/>
    <mapping resource="SingerEntity.hbm.xml"/>
    <mapping class="Server.model.DB.SongEntity"/>
    <mapping resource="SongEntity.hbm.xml"/>
    <mapping class="Server.model.DB.SongCategorysongEntity"/>
    <mapping resource="SongCategorysongEntity.hbm.xml"/>
    <mapping class="Server.model.DB.SongSingerEntity"/>
    <mapping resource="SongSingerEntity.hbm.xml"/>
    <mapping class="Server.model.DB.UploadEntity"/>
    <mapping resource="UploadEntity.hbm.xml"/>
    <mapping class="Server.model.DB.UserEntity"/>
    <mapping resource="UserEntity.hbm.xml"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>